* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #2980b9;
    background: -webkit-linear-gradient(to right, #2c3e50, rgb(28, 230, 253));
    background: linear-gradient(to right, #d5d5d5, rgb(15, 214, 39));
}

#head {
    width: 73%;
    height: 55vh;
    margin: 20px auto;
    border-radius: 1rem;
    background-image: url(./images/image.jpg);
    background-position: center;
}
#head div p {
    text-align: center;
    color: rgb(29, 204, 239);
    font-size: 3.5rem;
}



img {
    padding: 10px;
}

.displayBox {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.scroll-box {
    overflow-y: auto;
    height: 650px;
    float: left;
    padding: 1rem;
}


